html,body{
  margin:0px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

table{
  width: 100%;
  border-spacing: 0;
}

table td, table th{
  text-align: left;
  /*border-bottom: solid 2px;
  border-color:#3f51b5;*/
  padding:1em;
}

table tr:nth-child(even){
  background-color: #f3e5f5;
}

a{
  color:#d500f9;
  text-decoration: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #642B73;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding:1em;
  border-radius:10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.fa-star, .fa-star-o{
  color:#ffc400;
}


.title{margin:0.5em 0;text-transform: uppercase;}
.title-item{
  padding-bottom: 1em;
  border-bottom: solid 2px #C6426E;
}
.text-center{text-align: center;}
.position{
  padding:10px;
  background-color: #C6426E;
  color:white;
  margin-right: 0.5em;
  border-radius: 4px;
}

.paragraph{
  line-height: 1.8em;
  font-weight: 200;
}

.main-image{
  float: left;
  margin-right: 18px;
}

.text{float:none;}

.relative{
  position: relative;
}

.absolute{
  position:absolute;
}

.actions{
  top:1em;
  right: 1em;
}

.close{
  border:none;
  outline: none;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color:white;
  background-color: #642B73;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  font-weight: 200;
}

.address{
  font-weight: bold;
  font-size: 1.2em;
  color:#642B73;
}


.animated{
  animation-duration: 0.6s !important;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

@media (max-width: 600px){
  th{display: none;}
  td{
    width: 100%;
    display: block;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color:#642B73;
  }
}

@media (min-width: 960px){
  .content{
    padding:1.8em;
    font-size: 1rem;
  }
  .title{
    margin: 1em 0;
  }

}

@media (min-height: 550px){
  .content{
    height: 500px;
  }
}
